<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<ul>
    {% if session.admin %}
        <li> <a href="{{ url_for('postscreen')}}">POST</a></li>
    {% endif %}
    {% if session.logged_in %}
        <li> <a href="{{url_for('home', view='category')}}">CUISINES</a></li>
        <li> <a href="{{url_for('home', view='catalogue')}}">VIEW ALL</a></li>
        <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
    {% else %}
        <li> <a href="{{ url_for('login') }}">LOGIN</a></li>
        <li> <a href="{{ url_for('signup') }}">SIGNUP</a></li>
    {%endif%}
</ul>